.custom-button {
    @apply flex items-center justify-center font-semibold rounded-lg w-full;
    color: white;
    background-color: #7e22ce;
    font-size: 15px;
    padding: 12px 18px;
    &:disabled {
      opacity: 0.8;
      cursor: no-drop;
    }
    &--primary {
      position: relative;
    }
  }
  
  
  
  
  