.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.initial-logo-flash {
    animation: spin 2s infinite;
}

@keyframes spin {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(-360deg);
    }
}